# requirements.txt
# List of Python packages required for the project
flask
moviepy
requests
pydub
cloudinary
pyairtable
python-dotenv
gunicorn
librosa
scipy
numpy  # Required by both librosa & scipy
soundfile  # Required by librosa for audio I/O
